html{
  background: #282828;
  color: #ffffff;
  height: 100%;
  font-family: sans-serif;
}
@media screen and (max-width: 600px) {
.hello{
  font-size: 25px;
  border-bottom: 3px solid #4caf50;
}
.bnt{
  border: 2px solid #4caf50;
  background: none;
  color: white;
  border-radius: 5px;
  margin-top: 80px;
  font-size: 25px;
  float: right;
}
}
@media screen and (min-width: 601px) {
.hello{
  font-size: 65px;
  border-bottom: 6px solid #4caf50;
}
.bnt{
  border: 2px solid #4caf50;
  background: none;
  color: white;
margin-bottom: 20px;
  margin-top: 50px;
  border-radius: 5px;
  font-size: 25px;
  float: right;
  margin-right: 50px;
}
}
