body,html {
    height: 100%;
      font-family: sans-serif;
    }
  body{
    background: #000000;
    color: #ffffff;

  }
  aside, .navbar{
    background-color: #000000;
}
.hello{
  font-size: 26px;
  line-height: 1;
  color: #fff;
}
main{
  background-color: #000000;
}
li{
  font-size: 20px;
}
.ur:hover{
  border-bottom: 4px solid #4caf50;
}
.logo:hover{
border-bottom: 6px solid #4caf50;
}
.imgcontainer{
  text-align: center;
  margin: 24px 0 12px 0;
}
img.avatar {
    width: 60%;
    border-radius: 50%;
}
h1{
  margin-bottom: 50px;
  padding: 13px 0;
  margin-top: 50px;
  text-align: center;
  color: white;
}
.next{
	color:white;
}
.heading{
	border-bottom: 6px solid #4caf50;
}
fieldset
{
border: 3px solid #4caf50 !important;
margin: 0;
xmin-width: 0;
padding: 10px;
border-radius:4px;
background-color:#000000;
border-bottom: 3px solid #4caf50;
}

legend
{
  background-color: #000000;
  border-bottom: 3px solid #4caf50 !important;
  padding-left: 15px;

}
.leg_ti{
  margin-left: 15px;
  font-size:24px;

}
