body,html {
    height: 100%;
      font-family: sans-serif;
    }
  body{
    background: #282828;
    color: #ffffff;

  }
  aside, .navbar{
    background-color: #000000;
}
.hello{
  font-size: 26px;
  line-height: 1;
  color: #fff;
}
main{
  background-color: #000000;
}
li{
  font-size: 20px;
}
.ur1{
  margin-left: 22%;
}
.hello_l{
  float: left;
  background: none;
  color: white;
  margin-bottom: 20px;
  margin-top: 50px;
  border-radius: 5px;
  font-size: 25px;

}
.ur:hover{
  border-bottom: 4px solid #4caf50;
}
.logo:hover{
border-bottom: 6px solid #4caf50;
}
.imgcontainer{
 margin-left: 5%;
}
img.avatar {
    width: 50%;
    border-radius: 50%;
}
h1{
  margin-bottom: 50px;
  padding: 13px 0;
  margin-top: 50px;
  text-align: center;
  color: white;
}
.next{
	color:white;
}
.heading{
	border-bottom: 6px solid #4caf50;
}
.f_p{
  margin-top: 100px;
}
.dis{
  cursor: no-drop;
  color: white;
}
.text_box{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 20px;
  width: 300px;
  margin: 0 10px;
  border-bottom: 1px solid #4caf50;
  margin-top: 20px;
}
.bnt{
  border: 2px solid #4caf50;
  background: none;
  color: white;
margin-bottom: 20px;
  margin-top: 50px;
  border-radius: 5px;
  font-size: 25px;

}
.flt_r{
  float: right;
}
@media screen and (min-width: 601px) {
  .heading{
    font-size: 65px;
  }
  .text_box{
    width: 300px;
  }
  .mg_btn{
    width:auto;
  }
  .f_p{
    margin-left: 25%;
    margin-top: 10%;
  }
  .head_h1{
    margin-top: 10%;
  }
}

@media screen and (max-width: 600px) {
  .heading{
    font-size: 45px;
  }
  .text_box{
    width: 225px;
  }
  .mg_btn{
    width: 225px;
    font-size: 23px;
  }
  .f_p{
    margin-left: 20%;
  }

}
