body,html {
    height: 100%;
      font-family: sans-serif;
    }
  body{
    background: #282828;
    color: #ffffff;
  }
  aside, .navbar{
    background-color: #282828;
}
main{
  background-color: #282828;
}
li{
  font-size: 20px;
}
.ur1{
  margin-left: 22%;
}

.ur:hover{
  border-bottom: 4px solid #4caf50;
}
.logo:hover{
border-bottom: 6px solid #4caf50;
}
.imgcontainer{
 margin-left: 5%;
}
img.avatar {
    width: 50%;
    border-radius: 50%;
}
h1{
  margin-bottom: 50px;
  padding: 13px 0;
  margin-top: 50px;
  text-align: center;
  color: white;
}
.next{
	color:white;
}
.heading{
	border-bottom: 6px solid #4caf50;
}
fieldset
{
border: 3px solid #4caf50 !important;
xmin-width: 0;
padding: 10px;
border-radius:4px;
background-color:#282828;
border-bottom: 3px solid #4caf50;
}

legend
{
  background-color: #282828;
  border-bottom: 3px solid #4caf50 !important;
  padding-left: 15px;
}
.no_dev{
  background-color: #282828;
}
.leg_ti{
  margin-left: 15px;
  font-size:24px;
}

table{
/*border: 1px solid #ffffff;
  */width: 100%;
  margin-bottom: 15px;
  background: #282828;
}
td,th{
  font-size: 20px;
  background: #282828;
}
.fa-toggle-on{
  color: green;
}
.fa-toogle-off{
  color: red;
}
.toggleCheck {
  display: none;
}

.toggleBtn {
  display: block;
  padding: 2px;
  width: 30px;
  height: 15px;
  border-radius: 40px;
  background: red;
  transition: 240ms;
}

.toggleBtn::after {
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  border-radius: 50%;
  background: black;
  transition: 240ms;
}
.hello{
  font-size: 25px;
  line-height: 1;

}
.toggleCheck:checked + .toggleBtn { background: green; }
.toggleCheck:checked + .toggleBtn::after { transform: translateX(100%); }
@media screen and (min-width: 601px) {
  .heading{
    font-size: 55px;
  }
  .hello_l{
    float: left;
    background: none;
    color: white;
    margin-top: 80px;
    border-radius: 5px;
    font-size: 40px;
  }
  .bnt{
    border: 2px solid #4caf50;
    background: none;
    color: white;
  margin-bottom: 20px;
    margin-top: 50px;
    border-radius: 5px;
    font-size: 25px;
    float: right;
    margin-right: 50px;
  }
}

@media screen and (max-width: 600px) {
  .heading{
    font-size: 30px;
  }
  .hello_l{
    float: left;
    background: none;
    color: white;
    margin-top: 80px;
    border-radius: 5px;
    font-size: 40px;
  }
  .bnt{
    border: 2px solid #4caf50;
    background: none;
    color: white;
    border-radius: 5px;
    margin-top: 80px;
    font-size: 25px;
    float: right;
  }
}
