html{
  background: #282828;
  color: #ffffff;
  height: 100%;
  font-family: sans-serif;
}
aside, .navbar{
  background-color: #282828;
}
main{
background-color: #282828;
}
li{
font-size: 20px;
}
.ur1{
margin-left: 22%;
}

.ur:hover{
border-bottom: 4px solid #4caf50;
}
.logo:hover{
border-bottom: 6px solid #4caf50;
}
.imgcontainer{
margin-left: 5%;
}
img.avatar {
  width: 50%;
  border-radius: 50%;
}
h1{
margin-bottom: 50px;
padding: 13px 0;
margin-top: 50px;
text-align: center;
color: white;
}
.hello{
  font-size: 25px;
  line-height: 1;
}
.under{
    border-bottom: 6px solid #4caf50;
}

@media screen and (min-width: 601px) {
.verify_head
      {
        margin-top: 10%;
        font-size: 60px;
        margin-bottom: 7%;
      }
      .bnt{
        border: 2px solid #4caf50;
        background: none;
        color: white;
      margin-bottom: 20px;
        border-radius: 5px;
        font-size: 25px;
        float: right;
        margin-right: 20%;
      }
      .txt_ver{
        color: azure;
        font-size: 25px;
        margin-left: 5%;
      }
}

@media screen and (max-width: 600px) {
.verify_head
      {
        margin-top: 10%;
        font-size: 30px;
        margin-bottom: 20%;
      }
      .bnt{
        border: 2px solid #4caf50;
        background: none;
        color: white;
        border-radius: 5px;
        font-size: 20px;
        float: right;
      }
      .txt_ver{
        color: azure;
        font-size: 25px;
        margin-left: 5%;
      }
}
