#ErrorDocument 400 /400.php
#Bad Request

#ErrorDocument 401 /401.php
#Unautorized

#ErrorDocument 403 /403.php
#Forbidden

ErrorDocument 404 http://localhost/Smart-Home-For-Me/404.php

ErrorDocument 505 http://localhost/Smart-Home-For-Me/500.php
#Internal Server Error
