#ErrorDocument 400 /400.php
#Bad Request

#ErrorDocument 401 /401.php
#Unautorized

#ErrorDocument 403 /403.php
#Forbidden

ErrorDocument 404 localhost/404.php

ErrorDocument 500 localhost/500.php
#Internal Server Error
